<nav class="navbar is-transparent is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h1 class="is-size-2"><i class="fas fa-briefcase has-text-info"></i> Job Shop</h1>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
        </div>
        <div class="navbar-end">
          <a class="navbar-item" href="{{ url_for('jobs')}}">
              Jobs
            </a>
      
            <a class="navbar-item" href="{{ url_for('employers')}}">
              Employers
            </a>
        </div>
      </div>
    </div>
  </nav>